$dWidth: 969px;
$width: 968px;
$xsWidth: 300px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

.home {
  padding-bottom: 30px;
  .section2 {
    display: flex;
    justify-content: space-between;
    padding: 0 15% 0 10%;
    margin-top: 100px;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
      // margin-top: 100px;
      justify-content: center;
      align-items: center;
    }
    .avatar {
      border-radius: 50%;
      display: inline-block;
      background-color: var(--lc);
      background-size: cover;
      border: 2px black;
      height: 300px;
      width: 300px;

      @include mobile {
        height: 90px;
        width: 100px;
      }
    }

    .intro {
      padding-top: 70px;

      @include mobile {
        padding: 30px 0 0 20px;
      }
      .small {
        color: var(--button);
        margin-bottom: 20px;

        @include mobile {
          margin-bottom: 0px;
          font-size: 14px;
        }
      }
      .big {
        font-size: 40px;
        margin-top: 20px;
        font-weight: 600;
        color: var(--dt);

        @include mobile {
          font-size: 30px;
          margin-top: 10px;
          font-weight: 600;
        }
      }
      .medium {
        font-size: 20px;
        font-weight: 200;
        display: inline-block;
        position: absolute;
        color: var(--lt);
        margin-top: 10px;

        @include mobile {
          font-size: 20px;
          margin-top: 15px;
        }
      }
      .more {
        margin-top: 100px;
      }
    }
  }
}
